*.cache
*.csv
*.dll
*.exe
*.json
*.pdb
*.suo
*.vsidx

*.FileListAbsolute.txt

/src/csv_importer/csv_importer/bin
/src/csv_importer/csv_importer/obj

/src/csv_importer/.vs
/src/csv_importer/csv_importer/.vs
/src/csv_importer/packages
